@import '../../../styles/variables';

.body {
  background: url('../../../images/brickwall.png');
}

.Auth {
  width: 100%;
  height: calc(100vh - 140px);
  background: url('../../../images/brickwall.png');
}

.logo {
  mix-blend-mode: multiply;
  margin-top: -100px;
  max-width: 650px;
  margin-bottom: -20px;
}

.loginBtn {
  display: block;
  margin: 0 auto;
  border-radius:10px;
  -webkit-border-radius:10px;
  box-shadow:0 1px 2px #5e5d5b;
  text-align: center;
  line-height: 45px;
}

.btnIcon {
  vertical-align: middle;
}

.btnText {
  font-size: 1.1em;
}