// main colors
$yellow: #FCD60C;
$teal: #186391;
$blue: #0F85B5;
$red: #AD164C;
$white: #fff;
$black: #333;

// variations
$pink-darker: #C90E77;
$pink-lighter: #EC0771;
$pink-lightest: #F0389A;

$red-brighter: #ED153F;
$red-brightest: #ED1C24;

$orange: #F14E29;
$orange-darker: #F14A2F;

$yellow-darker: #F79717;

$blue-lighter: #03A3CA;
$blue-lightest: #09AFD8;

$teal-lighter: #19B4D8;
$teal-lightest: #4FC5D9;

// Navbar colors
$background: #A8F2FD;
$brand: #ED153F;
$logout: #F0389A;