@import '../../styles/variables';

.edit-button {
  background-color: $yellow-darker;
  border-color: $orange-darker;
  margin: .5rem;
  &:hover {
    background-color: $orange-darker;
    border-color: $orange-darker;
  }
}