@import '../../styles/variables';

.mavbar {
  width: 100%;
}

.my-navbar {
  background-image: url('../../images/brickwall.png');
  background-color: $background !important;
  background-blend-mode: multiply;
    img {
      max-height: 110px;
      max-width: 110px;
    }
}

.nav-link {
  cursor: pointer;
  color: $brand !important;
  font-size: 1.3em;
}

.nav-link:hover {
  color: $logout !important;
}
