@import '../../styles/variables';

.mural-card {
  width: 21rem;
}

.mural-card {
  border-radius: 0 !important;
}

.card-img-top {
  border-radius: 0 !important;
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.mural-item {
  border-radius: 0 !important;
  background: $white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  transition: border 150ms;
  display: flex;

  &:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, .6, .14), 0 4px 2px -2px rgba(0, 0, .6, .16), 0 1px 5px 0 rgba(0, 0, .6, .16);
  }
}

.mural-card-title {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #15425e;
}

.parent-div {
  position: relative;
}

.parent-div .card-img-button {
  position: absolute;
  z-index: 500;
  top: 18%;
  left: 18%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: $white;
  cursor: pointer;

  &:hover {
    color: $yellow;
  }
}